<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ws.design.flightticketbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ws.design.flightticketbook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ws.design.flightticketbook.TicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ws.design.flightticketbook.ConfirmTicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ws.design.flightticketbook.FlightListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>